<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<h2>Shock Rhetoric</h2>
			<p class="f3 lh-title light-gray b tc mb2">Please be on my mailing list:</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

		

			<div>
				<h3 class="f4 b lh-title mb1 primary">Shock Rhetoric is..</h3>
				<ul class="mb3">
					Please support this work by supporting me through <a href="https://patreon.com/samlibby">my Patreon</a>
				</ul>
			</div>

		

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
