<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Shock Rhetoric" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Shock Rhetoric</h3>
				<ul class="mb3">
				<li><a href="/products" class="pa3 no-underline db">Support the writer</a></li>
				<li><a href="/post" class="pa3 no-underline db">Archive</a></li>
				<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Shock Rhetoric is..</h3>
				<ul class="mb3">
					<li>Some people call me a poet....and that's all right, i've been called much worse. </li>
						
					<li>And yet, I'm not a poet. I don't do poetry. I do shock rhetoric. </li>
						
					<li>Perhaps history's greatest practioner of shock rhetoric is Rabbi Yeshua ben Yusef. </li>
						
					<li>"He who is without sin - cast the first stone....render on to Caesar the things of Caesar, 
					and on to God the things that are God's...evil things that are done in secret will be shouted 
					from the rooftops...", this is shock rhetoric. It is brutally honest, and yet artful no holds barred public 
					oratory/communications.  It is speaking truth close-up to the face of power. It is denouncing the master-of-this-world, 
					in shocking, no nonsense terms - it is shock rhetoric."</li>
						
						
						
					
					
					</li>
					<li></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
